.title-container{
    font-style: italic;
    text-align: center;
}

.title {
    background-color: rgb(72, 226, 72);
    text-align: center;
    text-transform:uppercase;
    color:aliceblue;
    width: 400px;
    display: inline-block;
}

a {
    text-decoration: none;
}
ul{
    text-align: center;
}
li {
    display: inline;
    margin:auto;
    padding: 10px;
    text-decoration:none;
}
.paragraph-title{
    text-align: center;
    text-transform:uppercase;
    width: 50%;
    margin:auto;
    margin-bottom: 10px;
}
.paragraph-text{
    width: 50%;
    margin:auto;
}

.footer-block{
    text-align: center;
}

.about, .phone, .instagramm, .location{
    color: green;
    display: inline-block;
    margin: 0 20px;
    padding-top: 50px;
    text-align: center;

}