.title-container{
    font-style: italic;
}

.title {
    background-color: rgb(72, 226, 72);
    text-align: center;
    text-transform:uppercase;
    color:aliceblue;
    width: 400px;
}

li {
    display: inline;
    margin:auto;
    padding: 10px;
    text-decoration:none;
}
.paragraph-title{
    text-align: center;
    text-transform:uppercase;
    width: 50%;
    margin:auto;
    margin-bottom: 10px;
}
.paragraph-text{
    width: 50%;
    margin:auto;
}